.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game {
  border-top: #000000 1vh solid;
  background-color: #282c34;
  margin: 2vh;
  padding: 2vh;
}

.score {
  color: darkseagreen;
  font-weight: bolder;
}

.date {
  margin-top: 2vh;
  font-size: medium;
  font-weight: lighter;
}